<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.BSQLLog2Java.bsqllog2java"
			class = "bsqllog2java.bSQLLog2Java.BSQLLog2JavaPackage"
			genModel = "model/generated/BSQLLog2Java.genmodel" />
	</extension>
</plugin>
