<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.BSQL2SQL.bsql2sql"
			class = "bsql2sql.bSQL2SQL.BSQL2SQLPackage"
			genModel = "model/generated/BSQL2SQL.genmodel" />
	</extension>
</plugin>
