<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.BSQL2Java2.bsql2java"
			class = "bsql2java.bSQL2Java2.BSQL2Java2Package"
			genModel = "model/generated/BSQL2Java2.genmodel" />
	</extension>
</plugin>
